<div class="product" data-product-id="<%= id %>">
    <a href="./produits/<%= id %>" title="En savoir plus...">
        <h2><%= name %></h2>
        <img alt="product" src="./assets/img/<%= image %>" />
        <p class="price"><small>Prix</small> <%= price.toFixed(2).replace(".", ",") %>&thinsp;$</p>
    </a>
</div>
